<a href="https://colab.research.google.com/github/Gabrielcs96/Analise-e-desenvolvimento-de-uma-ferramenta-de-prevencao-a-fraudes/blob/main/Pyspark02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark
# Install the pyspark package.
import os
import sys
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 3.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=4dcf61d224427d7494e2c58849792df540f70ca2e5e01945dea3b3012a8b43a9
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [3]:
from pyspark.sql.window import Window # Window function

Iniciar sessão com o PySpark

In [4]:
spark = (SparkSession.builder
         .master('local')
         .appName('PySpark_02')
         .getOrCreate()
      )

In [5]:
from google.colab import files
uploaded = files.upload()

Saving wc2018-players.csv to wc2018-players.csv

In [6]:
df = spark.read.csv('wc2018-players.csv', header=True, inferSchema=True)

In [7]:
df.show(5)

+---------+---+----+------------------+----------+----------+--------------------+------+------+
|     Team|  #|Pos.| FIFA Popular Name|Birth Date|Shirt Name|                Club|Height|Weight|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
|Argentina|  3|  DF|TAGLIAFICO Nicolas|31.08.1992|TAGLIAFICO|      AFC Ajax (NED)|   169|    65|
|Argentina| 22|  MF|    PAVON Cristian|21.01.1996|     PAVÓN|CA Boca Juniors (...|   169|    65|
|Argentina| 15|  MF|    LANZINI Manuel|15.02.1993|   LANZINI|West Ham United F...|   167|    66|
|Argentina| 18|  DF|    SALVIO Eduardo|13.07.1990|    SALVIO|    SL Benfica (POR)|   167|    69|
|Argentina| 10|  FW|      MESSI Lionel|24.06.1987|     MESSI|  FC Barcelona (ESP)|   170|    72|
+---------+---+----+------------------+----------+----------+--------------------+------+------+
only showing top 5 rows

In [8]:
df = df.withColumnRenamed('Team', 'Selecao').withColumnRenamed('Position', 'Posicao').withColumnRenamed('Shirt Name', 'Camisa').withColumnRenamed('Age', 'Idade')\
.withColumnRenamed('Height', 'Altura').withColumnRenamed('Weight', 'Peso').withColumnRenamed('FIFA Popular Name', 'Nome_FIFA').withColumnRenamed('#', 'Numero')\
.withColumnRenamed('Birth Date', 'Nascimento').withColumnRenamed('Club', 'Time').withColumnRenamed('Pos.','Posicao')

In [9]:
dia = udf(lambda data: data.split('.')[0])
mes = udf(lambda data: data.split('.')[1])
ano = udf(lambda data: data.split('.')[2])

In [10]:

df = df.withColumn('Dia', dia('Nascimento')).withColumn('Mes', mes('Nascimento')).withColumn('Ano', ano('Nascimento'))
df = df.withColumn('Data_Nascimento', concat_ws('-', 'Ano', 'Mes', 'Dia').cast(DateType())) # Cast to DateType

In [11]:
df.show(5)

+---------+------+-------+------------------+----------+----------+--------------------+------+----+---+---+----+---------------+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nascimento|    Camisa|                Time|Altura|Peso|Dia|Mes| Ano|Data_Nascimento|
+---------+------+-------+------------------+----------+----------+--------------------+------+----+---+---+----+---------------+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992|TAGLIAFICO|      AFC Ajax (NED)|   169|  65| 31| 08|1992|     1992-08-31|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|     PAVÓN|CA Boca Juniors (...|   169|  65| 21| 01|1996|     1996-01-21|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|   LANZINI|West Ham United F...|   167|  66| 15| 02|1993|     1993-02-15|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|    SALVIO|    SL Benfica (POR)|   167|  69| 13| 07|1990|     1990-07-13|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|     MESSI|  FC Barcelona (ESP)|   170|  72| 24| 06|1987|     1987-06-24|
+---------+------+-------+------------------+----------+----------+--------------------+------+----+---+---+----+---------------+
only showing top 5 rows

A coluna " nascimento " agora é inútil. Vamos remover ela !

In [12]:
df = df.drop('Nascimento')

In [13]:
#Backup do DF
df2 = df

Vamos começar a  Usar esse Window.particionBy é algo parecido com o Group By do SQL ... O legal aqui é que você consegue usar o " partition " como parte do código para gerar um row number  e enumerar os caras, nesse caso aqui pela altura para cada seleção.

In [14]:
parametro = Window.partitionBy('Selecao').orderBy(col('Altura').desc())
df.withColumn('numero_lina', row_number().over(parametro)).show(50)

+---------+------+-------+------------------+----------+--------------------+------+----+---+---+----+---------------+-----------+
|  Selecao|Numero|Posicao|         Nome_FIFA|    Camisa|                Time|Altura|Peso|Dia|Mes| Ano|Data_Nascimento|numero_lina|
+---------+------+-------+------------------+----------+--------------------+------+----+---+---+----+---------------+-----------+
|Argentina|     6|     DF|    FAZIO Federico|     FAZIO|       AS Roma (ITA)|   199|  85| 17| 03|1987|     1987-03-17|          1|
|Argentina|     1|     GK|     GUZMAN Nahuel|    GUZMÁN|   Tigres UANL (MEX)|   192|  90| 10| 02|1986|     1986-02-10|          2|
|Argentina|    16|     DF|       ROJO Marcos|      ROJO|Manchester United...|   189|  82| 20| 03|1990|     1990-03-20|          3|
|Argentina|    12|     GK|     ARMANI Franco|    ARMANI|CA River Plate (ARG)|   189|  85| 16| 10|1986|     1986-10-16|          4|
|Argentina|    23|     GK|CABALLERO Wilfredo| CABALLERO|    Chelsea FC (ENG)|   186|  80| 28| 09|1981|     1981-09-28|          5|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|   HIGUAÍN|   Juventus FC (ITA)|   184|  75| 10| 12|1987|     1987-12-10|          6|
|Argentina|     4|     DF|  ANSALDI Cristian|   ANSALDI|     Torino FC (ITA)|   181|  73| 20| 09|1986|     1986-09-20|          7|
|Argentina|     2|     DF|   MERCADO Gabriel|   MERCADO|    Sevilla FC (ESP)|   181|  81| 18| 03|1987|     1987-03-18|          8|
|Argentina|    17|     DF|  OTAMENDI Nicolas|  OTAMENDI|Manchester City F...|   181|  81| 12| 02|1988|     1988-02-12|          9|
|Argentina|    13|     MF|  MEZA Maximiliano|      MEZA|CA Independiente ...|   180|  76| 15| 12|1992|     1992-12-15|         10|
|Argentina|    11|     MF|    DI MARIA Angel|  DI MARÍA|Paris Saint-Germa...|   178|  75| 14| 02|1988|     1988-02-14|         11|
|Argentina|    21|     FW|      DYBALA Paulo|    DYBALA|   Juventus FC (ITA)|   177|  73| 15| 11|1993|     1993-11-15|         12|
|Argentina|    20|     MF|  LO CELSO Giovani|  LO CELSO|Paris Saint-Germa...|   177|  75| 09| 04|1996|     1996-04-09|         13|
|Argentina|     5|     MF|      BIGLIA Lucas|    BIGLIA|      AC Milan (ITA)|   175|  73| 30| 01|1986|     1986-01-30|         14|
|Argentina|     7|     MF|       BANEGA Ever|    BANEGA|    Sevilla FC (ESP)|   175|  73| 29| 06|1988|     1988-06-29|         15|
|Argentina|    14|     DF| MASCHERANO Javier|MASCHERANO|Hebei China Fortu...|   174|  73| 08| 06|1984|     1984-06-08|         16|
|Argentina|    19|     FW|     AGUERO Sergio|    AGÜERO|Manchester City F...|   172|  74| 02| 06|1988|     1988-06-02|         17|
|Argentina|     8|     DF|      ACUNA Marcos|     ACUÑA|   Sporting CP (POR)|   172|  77| 28| 10|1991|     1991-10-28|         18|
|Argentina|    10|     FW|      MESSI Lionel|     MESSI|  FC Barcelona (ESP)|   170|  72| 24| 06|1987|     1987-06-24|         19|
|Argentina|     3|     DF|TAGLIAFICO Nicolas|TAGLIAFICO|      AFC Ajax (NED)|   169|  65| 31| 08|1992|     1992-08-31|         20|
|Argentina|    22|     MF|    PAVON Cristian|     PAVÓN|CA Boca Juniors (...|   169|  65| 21| 01|1996|     1996-01-21|         21|
|Argentina|    15|     MF|    LANZINI Manuel|   LANZINI|West Ham United F...|   167|  66| 15| 02|1993|     1993-02-15|         22|
|Argentina|    18|     DF|    SALVIO Eduardo|    SALVIO|    SL Benfica (POR)|   167|  69| 13| 07|1990|     1990-07-13|         23|
|Australia|    12|     GK|        JONES Brad|     JONES|Feyenoord Rotterd...|   193|  87| 19| 03|1982|     1982-03-19|          1|
|Australia|     9|     FW|        JURIC Tomi|     JURIC|     FC Luzern (SUI)|   190|  80| 22| 07|1991|     1991-07-22|          2|
|Australia|     6|     DF|    JURMAN Matthew|    JURMAN|Suwon Samsung Blu...|   190|  83| 08| 12|1989|     1989-12-08|          3|
|Australia|    23|     MF|         ROGIC Tom|     ROGIC|     Celtic FC (SCO)|   189|  88| 16| 12|1992|     1992-12-16|          4|
|Australia|    15|     MF|      JEDINAK Mile|   JEDINAK|Aston Villa FC (ENG)|   188|  78| 03| 08|1984|     1984-08-03|          5|
|Australia|     2|     DF|     DEGENEK Milos|   DEGENEK|Yokohama F-Marino...|   187|  85| 28| 04|1994|     1994-04-28|          6|
|Australia|    18|     GK|     VUKOVIC Danny|   VUKOVIC|      KRC Genk (BEL)|   187|  94| 27| 03|1985|     1985-03-27|          7|
|Australia|     1|     GK|       RYAN Mathew|      RYAN|Brighton & Hove A...|   184|  82| 08| 04|1992|     1992-04-08|          8|
|Australia|    20|     DF|   SAINSBURY Trent| SAINSBURY|Grasshopper Club ...|   183|  76| 05| 01|1992|     1992-01-05|          9|
|Australia|     7|     FW|     LECKIE Mathew|    LECKIE|    Hertha BSC (GER)|   181|  84| 04| 02|1991|     1991-02-04|         10|
|Australia|    10|     FW|      KRUSE Robbie|     KRUSE|    VfL Bochum (GER)|   180|  66| 05| 10|1988|     1988-10-05|         11|
|Australia|     4|     FW|        CAHILL Tim|    CAHILL|   Millwall FC (ENG)|   180|  76| 06| 12|1979|     1979-12-06|         12|
|Australia|    22|     MF|    IRVINE Jackson|    IRVINE|  Hull City FC (ENG)|   180|  77| 07| 03|1993|     1993-03-07|         13|
|Australia|     3|     DF|    MEREDITH James|  MEREDITH|   Millwall FC (ENG)|   179|  71| 05| 04|1988|     1988-04-05|         14|
|Australia|    14|     FW|    MacLAREN Jamie|  MACLAREN|  Hibernian FC (SCO)|   178|  72| 29| 07|1993|     1993-07-29|         15|
|Australia|     5|     DF|     MILLIGAN Mark|  MILLIGAN|    Al Ahli SC (KSA)|   178|  78| 04| 08|1985|     1985-08-04|         16|
|Australia|    11|     FW|    NABBOUT Andrew|   NABBOUT|    Urawa Reds (JPN)|   178|  85| 17| 12|1992|     1992-12-17|         17|
|Australia|    21|     FW|PETRATOS Dimitrios|  PETRATOS|Newcastle United ...|   176|  72| 10| 11|1992|     1992-11-10|         18|
|Australia|     8|     MF|    LUONGO Massimo|    LUONGO|Queens Park Range...|   176|  76| 25| 09|1992|     1992-09-25|         19|
|Australia|    13|     MF|        MOOY Aaron|      MOOY|Huddersfield Town...|   173|  72| 15| 09|1990|     1990-09-15|         20|
|Australia|    17|     FW|     ARZANI Daniel|    ARZANI|Melbourne City FC...|   171|  73| 04| 01|1999|     1999-01-04|         21|
|Australia|    16|     DF|       BEHICH Aziz|    BEHICH|     Bursaspor (TUR)|   170|  63| 16| 12|1990|     1990-12-16|         22|
|Australia|    19|     DF|     RISDON Joshua|    RISDON|WS Wanderers FC (...|   169|  70| 27| 07|1992|     1992-07-27|         23|
|  Belgium|     1|     GK|  COURTOIS Thibaut|  COURTOIS|    Chelsea FC (ENG)|   199|  91| 11| 05|1992|     1992-05-11|          1|
|  Belgium|    13|     GK|     CASTEELS Koen|  CASTEELS| VfL Wolfsburg (GER)|   197|  86| 25| 06|1992|     1992-06-25|          2|
|  Belgium|     8|     MF| FELLAINI Marouane|  FELLAINI|Manchester United...|   194|  85| 22| 11|1987|     1987-11-22|          3|
|  Belgium|    12|     GK|    MIGNOLET Simon|  MIGNOLET|  Liverpool FC (ENG)|   193|  87| 06| 03|1988|     1988-03-06|          4|
+---------+------+-------+------------------+----------+--------------------+------+----+---+---+----+---------------+-----------+
only showing top 50 rows

In [15]:
parametro2= Window.partitionBy('Selecao').orderBy(col('Numero').asc())
df.withColumn('numero_linha2', row_number().over(parametro2)).show(50)

+---------+------+-------+------------------+------------+--------------------+------+----+---+---+----+---------------+-------------+
|  Selecao|Numero|Posicao|         Nome_FIFA|      Camisa|                Time|Altura|Peso|Dia|Mes| Ano|Data_Nascimento|numero_linha2|
+---------+------+-------+------------------+------------+--------------------+------+----+---+---+----+---------------+-------------+
|Argentina|     1|     GK|     GUZMAN Nahuel|      GUZMÁN|   Tigres UANL (MEX)|   192|  90| 10| 02|1986|     1986-02-10|            1|
|Argentina|     2|     DF|   MERCADO Gabriel|     MERCADO|    Sevilla FC (ESP)|   181|  81| 18| 03|1987|     1987-03-18|            2|
|Argentina|     3|     DF|TAGLIAFICO Nicolas|  TAGLIAFICO|      AFC Ajax (NED)|   169|  65| 31| 08|1992|     1992-08-31|            3|
|Argentina|     4|     DF|  ANSALDI Cristian|     ANSALDI|     Torino FC (ITA)|   181|  73| 20| 09|1986|     1986-09-20|            4|
|Argentina|     5|     MF|      BIGLIA Lucas|      BIGLIA|      AC Milan (ITA)|   175|  73| 30| 01|1986|     1986-01-30|            5|
|Argentina|     6|     DF|    FAZIO Federico|       FAZIO|       AS Roma (ITA)|   199|  85| 17| 03|1987|     1987-03-17|            6|
|Argentina|     7|     MF|       BANEGA Ever|      BANEGA|    Sevilla FC (ESP)|   175|  73| 29| 06|1988|     1988-06-29|            7|
|Argentina|     8|     DF|      ACUNA Marcos|       ACUÑA|   Sporting CP (POR)|   172|  77| 28| 10|1991|     1991-10-28|            8|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|     HIGUAÍN|   Juventus FC (ITA)|   184|  75| 10| 12|1987|     1987-12-10|            9|
|Argentina|    10|     FW|      MESSI Lionel|       MESSI|  FC Barcelona (ESP)|   170|  72| 24| 06|1987|     1987-06-24|           10|
|Argentina|    11|     MF|    DI MARIA Angel|    DI MARÍA|Paris Saint-Germa...|   178|  75| 14| 02|1988|     1988-02-14|           11|
|Argentina|    12|     GK|     ARMANI Franco|      ARMANI|CA River Plate (ARG)|   189|  85| 16| 10|1986|     1986-10-16|           12|
|Argentina|    13|     MF|  MEZA Maximiliano|        MEZA|CA Independiente ...|   180|  76| 15| 12|1992|     1992-12-15|           13|
|Argentina|    14|     DF| MASCHERANO Javier|  MASCHERANO|Hebei China Fortu...|   174|  73| 08| 06|1984|     1984-06-08|           14|
|Argentina|    15|     MF|    LANZINI Manuel|     LANZINI|West Ham United F...|   167|  66| 15| 02|1993|     1993-02-15|           15|
|Argentina|    16|     DF|       ROJO Marcos|        ROJO|Manchester United...|   189|  82| 20| 03|1990|     1990-03-20|           16|
|Argentina|    17|     DF|  OTAMENDI Nicolas|    OTAMENDI|Manchester City F...|   181|  81| 12| 02|1988|     1988-02-12|           17|
|Argentina|    18|     DF|    SALVIO Eduardo|      SALVIO|    SL Benfica (POR)|   167|  69| 13| 07|1990|     1990-07-13|           18|
|Argentina|    19|     FW|     AGUERO Sergio|      AGÜERO|Manchester City F...|   172|  74| 02| 06|1988|     1988-06-02|           19|
|Argentina|    20|     MF|  LO CELSO Giovani|    LO CELSO|Paris Saint-Germa...|   177|  75| 09| 04|1996|     1996-04-09|           20|
|Argentina|    21|     FW|      DYBALA Paulo|      DYBALA|   Juventus FC (ITA)|   177|  73| 15| 11|1993|     1993-11-15|           21|
|Argentina|    22|     MF|    PAVON Cristian|       PAVÓN|CA Boca Juniors (...|   169|  65| 21| 01|1996|     1996-01-21|           22|
|Argentina|    23|     GK|CABALLERO Wilfredo|   CABALLERO|    Chelsea FC (ENG)|   186|  80| 28| 09|1981|     1981-09-28|           23|
|Australia|     1|     GK|       RYAN Mathew|        RYAN|Brighton & Hove A...|   184|  82| 08| 04|1992|     1992-04-08|            1|
|Australia|     2|     DF|     DEGENEK Milos|     DEGENEK|Yokohama F-Marino...|   187|  85| 28| 04|1994|     1994-04-28|            2|
|Australia|     3|     DF|    MEREDITH James|    MEREDITH|   Millwall FC (ENG)|   179|  71| 05| 04|1988|     1988-04-05|            3|
|Australia|     4|     FW|        CAHILL Tim|      CAHILL|   Millwall FC (ENG)|   180|  76| 06| 12|1979|     1979-12-06|            4|
|Australia|     5|     DF|     MILLIGAN Mark|    MILLIGAN|    Al Ahli SC (KSA)|   178|  78| 04| 08|1985|     1985-08-04|            5|
|Australia|     6|     DF|    JURMAN Matthew|      JURMAN|Suwon Samsung Blu...|   190|  83| 08| 12|1989|     1989-12-08|            6|
|Australia|     7|     FW|     LECKIE Mathew|      LECKIE|    Hertha BSC (GER)|   181|  84| 04| 02|1991|     1991-02-04|            7|
|Australia|     8|     MF|    LUONGO Massimo|      LUONGO|Queens Park Range...|   176|  76| 25| 09|1992|     1992-09-25|            8|
|Australia|     9|     FW|        JURIC Tomi|       JURIC|     FC Luzern (SUI)|   190|  80| 22| 07|1991|     1991-07-22|            9|
|Australia|    10|     FW|      KRUSE Robbie|       KRUSE|    VfL Bochum (GER)|   180|  66| 05| 10|1988|     1988-10-05|           10|
|Australia|    11|     FW|    NABBOUT Andrew|     NABBOUT|    Urawa Reds (JPN)|   178|  85| 17| 12|1992|     1992-12-17|           11|
|Australia|    12|     GK|        JONES Brad|       JONES|Feyenoord Rotterd...|   193|  87| 19| 03|1982|     1982-03-19|           12|
|Australia|    13|     MF|        MOOY Aaron|        MOOY|Huddersfield Town...|   173|  72| 15| 09|1990|     1990-09-15|           13|
|Australia|    14|     FW|    MacLAREN Jamie|    MACLAREN|  Hibernian FC (SCO)|   178|  72| 29| 07|1993|     1993-07-29|           14|
|Australia|    15|     MF|      JEDINAK Mile|     JEDINAK|Aston Villa FC (ENG)|   188|  78| 03| 08|1984|     1984-08-03|           15|
|Australia|    16|     DF|       BEHICH Aziz|      BEHICH|     Bursaspor (TUR)|   170|  63| 16| 12|1990|     1990-12-16|           16|
|Australia|    17|     FW|     ARZANI Daniel|      ARZANI|Melbourne City FC...|   171|  73| 04| 01|1999|     1999-01-04|           17|
|Australia|    18|     GK|     VUKOVIC Danny|     VUKOVIC|      KRC Genk (BEL)|   187|  94| 27| 03|1985|     1985-03-27|           18|
|Australia|    19|     DF|     RISDON Joshua|      RISDON|WS Wanderers FC (...|   169|  70| 27| 07|1992|     1992-07-27|           19|
|Australia|    20|     DF|   SAINSBURY Trent|   SAINSBURY|Grasshopper Club ...|   183|  76| 05| 01|1992|     1992-01-05|           20|
|Australia|    21|     FW|PETRATOS Dimitrios|    PETRATOS|Newcastle United ...|   176|  72| 10| 11|1992|     1992-11-10|           21|
|Australia|    22|     MF|    IRVINE Jackson|      IRVINE|  Hull City FC (ENG)|   180|  77| 07| 03|1993|     1993-03-07|           22|
|Australia|    23|     MF|         ROGIC Tom|       ROGIC|     Celtic FC (SCO)|   189|  88| 16| 12|1992|     1992-12-16|           23|
|  Belgium|     1|     GK|  COURTOIS Thibaut|    COURTOIS|    Chelsea FC (ENG)|   199|  91| 11| 05|1992|     1992-05-11|            1|
|  Belgium|     2|     DF| ALDERWEIRELD Toby|ALDERWEIRELD|Tottenham Hotspur...|   186|  81| 02| 03|1989|     1989-03-02|            2|
|  Belgium|     3|     DF|  VERMAELEN Thomas|   VERMAELEN|  FC Barcelona (ESP)|   183|  80| 14| 11|1985|     1985-11-14|            3|
|  Belgium|     4|     DF|   KOMPANY Vincent|     KOMPANY|Manchester City F...|   190|  85| 10| 04|1986|     1986-04-10|            4|
+---------+------+-------+------------------+------------+--------------------+------+----+---+---+----+---------------+-------------+
only showing top 50 rows

Vamos usar o Rank

In [16]:
rank1 = Window.partitionBy('Selecao').orderBy(desc('Altura'))
df.withColumn('rank',rank().over(rank1)).show(50)

+---------+------+-------+------------------+----------+--------------------+------+----+---+---+----+---------------+----+
|  Selecao|Numero|Posicao|         Nome_FIFA|    Camisa|                Time|Altura|Peso|Dia|Mes| Ano|Data_Nascimento|rank|
+---------+------+-------+------------------+----------+--------------------+------+----+---+---+----+---------------+----+
|Argentina|     6|     DF|    FAZIO Federico|     FAZIO|       AS Roma (ITA)|   199|  85| 17| 03|1987|     1987-03-17|   1|
|Argentina|     1|     GK|     GUZMAN Nahuel|    GUZMÁN|   Tigres UANL (MEX)|   192|  90| 10| 02|1986|     1986-02-10|   2|
|Argentina|    16|     DF|       ROJO Marcos|      ROJO|Manchester United...|   189|  82| 20| 03|1990|     1990-03-20|   3|
|Argentina|    12|     GK|     ARMANI Franco|    ARMANI|CA River Plate (ARG)|   189|  85| 16| 10|1986|     1986-10-16|   3|
|Argentina|    23|     GK|CABALLERO Wilfredo| CABALLERO|    Chelsea FC (ENG)|   186|  80| 28| 09|1981|     1981-09-28|   5|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|   HIGUAÍN|   Juventus FC (ITA)|   184|  75| 10| 12|1987|     1987-12-10|   6|
|Argentina|     4|     DF|  ANSALDI Cristian|   ANSALDI|     Torino FC (ITA)|   181|  73| 20| 09|1986|     1986-09-20|   7|
|Argentina|     2|     DF|   MERCADO Gabriel|   MERCADO|    Sevilla FC (ESP)|   181|  81| 18| 03|1987|     1987-03-18|   7|
|Argentina|    17|     DF|  OTAMENDI Nicolas|  OTAMENDI|Manchester City F...|   181|  81| 12| 02|1988|     1988-02-12|   7|
|Argentina|    13|     MF|  MEZA Maximiliano|      MEZA|CA Independiente ...|   180|  76| 15| 12|1992|     1992-12-15|  10|
|Argentina|    11|     MF|    DI MARIA Angel|  DI MARÍA|Paris Saint-Germa...|   178|  75| 14| 02|1988|     1988-02-14|  11|
|Argentina|    21|     FW|      DYBALA Paulo|    DYBALA|   Juventus FC (ITA)|   177|  73| 15| 11|1993|     1993-11-15|  12|
|Argentina|    20|     MF|  LO CELSO Giovani|  LO CELSO|Paris Saint-Germa...|   177|  75| 09| 04|1996|     1996-04-09|  12|
|Argentina|     5|     MF|      BIGLIA Lucas|    BIGLIA|      AC Milan (ITA)|   175|  73| 30| 01|1986|     1986-01-30|  14|
|Argentina|     7|     MF|       BANEGA Ever|    BANEGA|    Sevilla FC (ESP)|   175|  73| 29| 06|1988|     1988-06-29|  14|
|Argentina|    14|     DF| MASCHERANO Javier|MASCHERANO|Hebei China Fortu...|   174|  73| 08| 06|1984|     1984-06-08|  16|
|Argentina|    19|     FW|     AGUERO Sergio|    AGÜERO|Manchester City F...|   172|  74| 02| 06|1988|     1988-06-02|  17|
|Argentina|     8|     DF|      ACUNA Marcos|     ACUÑA|   Sporting CP (POR)|   172|  77| 28| 10|1991|     1991-10-28|  17|
|Argentina|    10|     FW|      MESSI Lionel|     MESSI|  FC Barcelona (ESP)|   170|  72| 24| 06|1987|     1987-06-24|  19|
|Argentina|     3|     DF|TAGLIAFICO Nicolas|TAGLIAFICO|      AFC Ajax (NED)|   169|  65| 31| 08|1992|     1992-08-31|  20|
|Argentina|    22|     MF|    PAVON Cristian|     PAVÓN|CA Boca Juniors (...|   169|  65| 21| 01|1996|     1996-01-21|  20|
|Argentina|    15|     MF|    LANZINI Manuel|   LANZINI|West Ham United F...|   167|  66| 15| 02|1993|     1993-02-15|  22|
|Argentina|    18|     DF|    SALVIO Eduardo|    SALVIO|    SL Benfica (POR)|   167|  69| 13| 07|1990|     1990-07-13|  22|
|Australia|    12|     GK|        JONES Brad|     JONES|Feyenoord Rotterd...|   193|  87| 19| 03|1982|     1982-03-19|   1|
|Australia|     9|     FW|        JURIC Tomi|     JURIC|     FC Luzern (SUI)|   190|  80| 22| 07|1991|     1991-07-22|   2|
|Australia|     6|     DF|    JURMAN Matthew|    JURMAN|Suwon Samsung Blu...|   190|  83| 08| 12|1989|     1989-12-08|   2|
|Australia|    23|     MF|         ROGIC Tom|     ROGIC|     Celtic FC (SCO)|   189|  88| 16| 12|1992|     1992-12-16|   4|
|Australia|    15|     MF|      JEDINAK Mile|   JEDINAK|Aston Villa FC (ENG)|   188|  78| 03| 08|1984|     1984-08-03|   5|
|Australia|     2|     DF|     DEGENEK Milos|   DEGENEK|Yokohama F-Marino...|   187|  85| 28| 04|1994|     1994-04-28|   6|
|Australia|    18|     GK|     VUKOVIC Danny|   VUKOVIC|      KRC Genk (BEL)|   187|  94| 27| 03|1985|     1985-03-27|   6|
|Australia|     1|     GK|       RYAN Mathew|      RYAN|Brighton & Hove A...|   184|  82| 08| 04|1992|     1992-04-08|   8|
|Australia|    20|     DF|   SAINSBURY Trent| SAINSBURY|Grasshopper Club ...|   183|  76| 05| 01|1992|     1992-01-05|   9|
|Australia|     7|     FW|     LECKIE Mathew|    LECKIE|    Hertha BSC (GER)|   181|  84| 04| 02|1991|     1991-02-04|  10|
|Australia|    10|     FW|      KRUSE Robbie|     KRUSE|    VfL Bochum (GER)|   180|  66| 05| 10|1988|     1988-10-05|  11|
|Australia|     4|     FW|        CAHILL Tim|    CAHILL|   Millwall FC (ENG)|   180|  76| 06| 12|1979|     1979-12-06|  11|
|Australia|    22|     MF|    IRVINE Jackson|    IRVINE|  Hull City FC (ENG)|   180|  77| 07| 03|1993|     1993-03-07|  11|
|Australia|     3|     DF|    MEREDITH James|  MEREDITH|   Millwall FC (ENG)|   179|  71| 05| 04|1988|     1988-04-05|  14|
|Australia|    14|     FW|    MacLAREN Jamie|  MACLAREN|  Hibernian FC (SCO)|   178|  72| 29| 07|1993|     1993-07-29|  15|
|Australia|     5|     DF|     MILLIGAN Mark|  MILLIGAN|    Al Ahli SC (KSA)|   178|  78| 04| 08|1985|     1985-08-04|  15|
|Australia|    11|     FW|    NABBOUT Andrew|   NABBOUT|    Urawa Reds (JPN)|   178|  85| 17| 12|1992|     1992-12-17|  15|
|Australia|    21|     FW|PETRATOS Dimitrios|  PETRATOS|Newcastle United ...|   176|  72| 10| 11|1992|     1992-11-10|  18|
|Australia|     8|     MF|    LUONGO Massimo|    LUONGO|Queens Park Range...|   176|  76| 25| 09|1992|     1992-09-25|  18|
|Australia|    13|     MF|        MOOY Aaron|      MOOY|Huddersfield Town...|   173|  72| 15| 09|1990|     1990-09-15|  20|
|Australia|    17|     FW|     ARZANI Daniel|    ARZANI|Melbourne City FC...|   171|  73| 04| 01|1999|     1999-01-04|  21|
|Australia|    16|     DF|       BEHICH Aziz|    BEHICH|     Bursaspor (TUR)|   170|  63| 16| 12|1990|     1990-12-16|  22|
|Australia|    19|     DF|     RISDON Joshua|    RISDON|WS Wanderers FC (...|   169|  70| 27| 07|1992|     1992-07-27|  23|
|  Belgium|     1|     GK|  COURTOIS Thibaut|  COURTOIS|    Chelsea FC (ENG)|   199|  91| 11| 05|1992|     1992-05-11|   1|
|  Belgium|    13|     GK|     CASTEELS Koen|  CASTEELS| VfL Wolfsburg (GER)|   197|  86| 25| 06|1992|     1992-06-25|   2|
|  Belgium|     8|     MF| FELLAINI Marouane|  FELLAINI|Manchester United...|   194|  85| 22| 11|1987|     1987-11-22|   3|
|  Belgium|    12|     GK|    MIGNOLET Simon|  MIGNOLET|  Liverpool FC (ENG)|   193|  87| 06| 03|1988|     1988-03-06|   4|
+---------+------+-------+------------------+----------+--------------------+------+----+---+---+----+---------------+----+
only showing top 50 rows

In [17]:
rank2 = Window.partitionBy('Selecao').orderBy(desc('Ano'))
df.withColumn('rank',dense_rank().over(rank2)).show(50)

+---------+------+-------+------------------+----------+--------------------+------+----+---+---+----+---------------+----+
|  Selecao|Numero|Posicao|         Nome_FIFA|    Camisa|                Time|Altura|Peso|Dia|Mes| Ano|Data_Nascimento|rank|
+---------+------+-------+------------------+----------+--------------------+------+----+---+---+----+---------------+----+
|Argentina|    22|     MF|    PAVON Cristian|     PAVÓN|CA Boca Juniors (...|   169|  65| 21| 01|1996|     1996-01-21|   1|
|Argentina|    20|     MF|  LO CELSO Giovani|  LO CELSO|Paris Saint-Germa...|   177|  75| 09| 04|1996|     1996-04-09|   1|
|Argentina|    15|     MF|    LANZINI Manuel|   LANZINI|West Ham United F...|   167|  66| 15| 02|1993|     1993-02-15|   2|
|Argentina|    21|     FW|      DYBALA Paulo|    DYBALA|   Juventus FC (ITA)|   177|  73| 15| 11|1993|     1993-11-15|   2|
|Argentina|     3|     DF|TAGLIAFICO Nicolas|TAGLIAFICO|      AFC Ajax (NED)|   169|  65| 31| 08|1992|     1992-08-31|   3|
|Argentina|    13|     MF|  MEZA Maximiliano|      MEZA|CA Independiente ...|   180|  76| 15| 12|1992|     1992-12-15|   3|
|Argentina|     8|     DF|      ACUNA Marcos|     ACUÑA|   Sporting CP (POR)|   172|  77| 28| 10|1991|     1991-10-28|   4|
|Argentina|    18|     DF|    SALVIO Eduardo|    SALVIO|    SL Benfica (POR)|   167|  69| 13| 07|1990|     1990-07-13|   5|
|Argentina|    16|     DF|       ROJO Marcos|      ROJO|Manchester United...|   189|  82| 20| 03|1990|     1990-03-20|   5|
|Argentina|     7|     MF|       BANEGA Ever|    BANEGA|    Sevilla FC (ESP)|   175|  73| 29| 06|1988|     1988-06-29|   6|
|Argentina|    19|     FW|     AGUERO Sergio|    AGÜERO|Manchester City F...|   172|  74| 02| 06|1988|     1988-06-02|   6|
|Argentina|    11|     MF|    DI MARIA Angel|  DI MARÍA|Paris Saint-Germa...|   178|  75| 14| 02|1988|     1988-02-14|   6|
|Argentina|    17|     DF|  OTAMENDI Nicolas|  OTAMENDI|Manchester City F...|   181|  81| 12| 02|1988|     1988-02-12|   6|
|Argentina|    10|     FW|      MESSI Lionel|     MESSI|  FC Barcelona (ESP)|   170|  72| 24| 06|1987|     1987-06-24|   7|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|   HIGUAÍN|   Juventus FC (ITA)|   184|  75| 10| 12|1987|     1987-12-10|   7|
|Argentina|     2|     DF|   MERCADO Gabriel|   MERCADO|    Sevilla FC (ESP)|   181|  81| 18| 03|1987|     1987-03-18|   7|
|Argentina|     6|     DF|    FAZIO Federico|     FAZIO|       AS Roma (ITA)|   199|  85| 17| 03|1987|     1987-03-17|   7|
|Argentina|     4|     DF|  ANSALDI Cristian|   ANSALDI|     Torino FC (ITA)|   181|  73| 20| 09|1986|     1986-09-20|   8|
|Argentina|     5|     MF|      BIGLIA Lucas|    BIGLIA|      AC Milan (ITA)|   175|  73| 30| 01|1986|     1986-01-30|   8|
|Argentina|    12|     GK|     ARMANI Franco|    ARMANI|CA River Plate (ARG)|   189|  85| 16| 10|1986|     1986-10-16|   8|
|Argentina|     1|     GK|     GUZMAN Nahuel|    GUZMÁN|   Tigres UANL (MEX)|   192|  90| 10| 02|1986|     1986-02-10|   8|
|Argentina|    14|     DF| MASCHERANO Javier|MASCHERANO|Hebei China Fortu...|   174|  73| 08| 06|1984|     1984-06-08|   9|
|Argentina|    23|     GK|CABALLERO Wilfredo| CABALLERO|    Chelsea FC (ENG)|   186|  80| 28| 09|1981|     1981-09-28|  10|
|Australia|    17|     FW|     ARZANI Daniel|    ARZANI|Melbourne City FC...|   171|  73| 04| 01|1999|     1999-01-04|   1|
|Australia|     2|     DF|     DEGENEK Milos|   DEGENEK|Yokohama F-Marino...|   187|  85| 28| 04|1994|     1994-04-28|   2|
|Australia|    14|     FW|    MacLAREN Jamie|  MACLAREN|  Hibernian FC (SCO)|   178|  72| 29| 07|1993|     1993-07-29|   3|
|Australia|    22|     MF|    IRVINE Jackson|    IRVINE|  Hull City FC (ENG)|   180|  77| 07| 03|1993|     1993-03-07|   3|
|Australia|    19|     DF|     RISDON Joshua|    RISDON|WS Wanderers FC (...|   169|  70| 27| 07|1992|     1992-07-27|   4|
|Australia|    21|     FW|PETRATOS Dimitrios|  PETRATOS|Newcastle United ...|   176|  72| 10| 11|1992|     1992-11-10|   4|
|Australia|     8|     MF|    LUONGO Massimo|    LUONGO|Queens Park Range...|   176|  76| 25| 09|1992|     1992-09-25|   4|
|Australia|    20|     DF|   SAINSBURY Trent| SAINSBURY|Grasshopper Club ...|   183|  76| 05| 01|1992|     1992-01-05|   4|
|Australia|     1|     GK|       RYAN Mathew|      RYAN|Brighton & Hove A...|   184|  82| 08| 04|1992|     1992-04-08|   4|
|Australia|    11|     FW|    NABBOUT Andrew|   NABBOUT|    Urawa Reds (JPN)|   178|  85| 17| 12|1992|     1992-12-17|   4|
|Australia|    23|     MF|         ROGIC Tom|     ROGIC|     Celtic FC (SCO)|   189|  88| 16| 12|1992|     1992-12-16|   4|
|Australia|     9|     FW|        JURIC Tomi|     JURIC|     FC Luzern (SUI)|   190|  80| 22| 07|1991|     1991-07-22|   5|
|Australia|     7|     FW|     LECKIE Mathew|    LECKIE|    Hertha BSC (GER)|   181|  84| 04| 02|1991|     1991-02-04|   5|
|Australia|    16|     DF|       BEHICH Aziz|    BEHICH|     Bursaspor (TUR)|   170|  63| 16| 12|1990|     1990-12-16|   6|
|Australia|    13|     MF|        MOOY Aaron|      MOOY|Huddersfield Town...|   173|  72| 15| 09|1990|     1990-09-15|   6|
|Australia|     6|     DF|    JURMAN Matthew|    JURMAN|Suwon Samsung Blu...|   190|  83| 08| 12|1989|     1989-12-08|   7|
|Australia|    10|     FW|      KRUSE Robbie|     KRUSE|    VfL Bochum (GER)|   180|  66| 05| 10|1988|     1988-10-05|   8|
|Australia|     3|     DF|    MEREDITH James|  MEREDITH|   Millwall FC (ENG)|   179|  71| 05| 04|1988|     1988-04-05|   8|
|Australia|     5|     DF|     MILLIGAN Mark|  MILLIGAN|    Al Ahli SC (KSA)|   178|  78| 04| 08|1985|     1985-08-04|   9|
|Australia|    18|     GK|     VUKOVIC Danny|   VUKOVIC|      KRC Genk (BEL)|   187|  94| 27| 03|1985|     1985-03-27|   9|
|Australia|    15|     MF|      JEDINAK Mile|   JEDINAK|Aston Villa FC (ENG)|   188|  78| 03| 08|1984|     1984-08-03|  10|
|Australia|    12|     GK|        JONES Brad|     JONES|Feyenoord Rotterd...|   193|  87| 19| 03|1982|     1982-03-19|  11|
|Australia|     4|     FW|        CAHILL Tim|    CAHILL|   Millwall FC (ENG)|   180|  76| 06| 12|1979|     1979-12-06|  12|
|  Belgium|    17|     MF|   TIELEMANS Youri| TIELEMANS|     AS Monaco (FRA)|   176|  72| 07| 05|1997|     1997-05-07|   1|
|  Belgium|    18|     FW|     JANUZAJ Adnan|   JANUZAJ| Real Sociedad (ESP)|   180|  75| 05| 02|1995|     1995-02-05|   2|
|  Belgium|    23|     DF|DENDONCKER Leander|DENDONCKER|RSC Anderlecht (BEL)|   188|  76| 15| 04|1995|     1995-04-15|   2|
|  Belgium|    11|     MF|  CARRASCO Yannick|  CARRASCO|Dalian Yifang FC ...|   180|  67| 04| 09|1993|     1993-09-04|   3|
+---------+------+-------+------------------+----------+--------------------+------+----+---+---+----+---------------+----+
only showing top 50 rows

Window Function 4  Porcentagem e Rangking - percentent_rangk

In [18]:
porcentagem = Window.partitionBy('Selecao').orderBy(desc('Altura'))
df.withColumn('porcentagem', percent_rank().over(porcentagem)).show(50)

+---------+------+-------+------------------+----------+--------------------+------+----+---+---+----+---------------+--------------------+
|  Selecao|Numero|Posicao|         Nome_FIFA|    Camisa|                Time|Altura|Peso|Dia|Mes| Ano|Data_Nascimento|         porcentagem|
+---------+------+-------+------------------+----------+--------------------+------+----+---+---+----+---------------+--------------------+
|Argentina|     6|     DF|    FAZIO Federico|     FAZIO|       AS Roma (ITA)|   199|  85| 17| 03|1987|     1987-03-17|                 0.0|
|Argentina|     1|     GK|     GUZMAN Nahuel|    GUZMÁN|   Tigres UANL (MEX)|   192|  90| 10| 02|1986|     1986-02-10|0.045454545454545456|
|Argentina|    16|     DF|       ROJO Marcos|      ROJO|Manchester United...|   189|  82| 20| 03|1990|     1990-03-20| 0.09090909090909091|
|Argentina|    12|     GK|     ARMANI Franco|    ARMANI|CA River Plate (ARG)|   189|  85| 16| 10|1986|     1986-10-16| 0.09090909090909091|
|Argentina|    23|     GK|CABALLERO Wilfredo| CABALLERO|    Chelsea FC (ENG)|   186|  80| 28| 09|1981|     1981-09-28| 0.18181818181818182|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|   HIGUAÍN|   Juventus FC (ITA)|   184|  75| 10| 12|1987|     1987-12-10| 0.22727272727272727|
|Argentina|     4|     DF|  ANSALDI Cristian|   ANSALDI|     Torino FC (ITA)|   181|  73| 20| 09|1986|     1986-09-20|  0.2727272727272727|
|Argentina|     2|     DF|   MERCADO Gabriel|   MERCADO|    Sevilla FC (ESP)|   181|  81| 18| 03|1987|     1987-03-18|  0.2727272727272727|
|Argentina|    17|     DF|  OTAMENDI Nicolas|  OTAMENDI|Manchester City F...|   181|  81| 12| 02|1988|     1988-02-12|  0.2727272727272727|
|Argentina|    13|     MF|  MEZA Maximiliano|      MEZA|CA Independiente ...|   180|  76| 15| 12|1992|     1992-12-15|  0.4090909090909091|
|Argentina|    11|     MF|    DI MARIA Angel|  DI MARÍA|Paris Saint-Germa...|   178|  75| 14| 02|1988|     1988-02-14| 0.45454545454545453|
|Argentina|    21|     FW|      DYBALA Paulo|    DYBALA|   Juventus FC (ITA)|   177|  73| 15| 11|1993|     1993-11-15|                 0.5|
|Argentina|    20|     MF|  LO CELSO Giovani|  LO CELSO|Paris Saint-Germa...|   177|  75| 09| 04|1996|     1996-04-09|                 0.5|
|Argentina|     5|     MF|      BIGLIA Lucas|    BIGLIA|      AC Milan (ITA)|   175|  73| 30| 01|1986|     1986-01-30|  0.5909090909090909|
|Argentina|     7|     MF|       BANEGA Ever|    BANEGA|    Sevilla FC (ESP)|   175|  73| 29| 06|1988|     1988-06-29|  0.5909090909090909|
|Argentina|    14|     DF| MASCHERANO Javier|MASCHERANO|Hebei China Fortu...|   174|  73| 08| 06|1984|     1984-06-08|  0.6818181818181818|
|Argentina|    19|     FW|     AGUERO Sergio|    AGÜERO|Manchester City F...|   172|  74| 02| 06|1988|     1988-06-02|  0.7272727272727273|
|Argentina|     8|     DF|      ACUNA Marcos|     ACUÑA|   Sporting CP (POR)|   172|  77| 28| 10|1991|     1991-10-28|  0.7272727272727273|
|Argentina|    10|     FW|      MESSI Lionel|     MESSI|  FC Barcelona (ESP)|   170|  72| 24| 06|1987|     1987-06-24|  0.8181818181818182|
|Argentina|     3|     DF|TAGLIAFICO Nicolas|TAGLIAFICO|      AFC Ajax (NED)|   169|  65| 31| 08|1992|     1992-08-31|  0.8636363636363636|
|Argentina|    22|     MF|    PAVON Cristian|     PAVÓN|CA Boca Juniors (...|   169|  65| 21| 01|1996|     1996-01-21|  0.8636363636363636|
|Argentina|    15|     MF|    LANZINI Manuel|   LANZINI|West Ham United F...|   167|  66| 15| 02|1993|     1993-02-15|  0.9545454545454546|
|Argentina|    18|     DF|    SALVIO Eduardo|    SALVIO|    SL Benfica (POR)|   167|  69| 13| 07|1990|     1990-07-13|  0.9545454545454546|
|Australia|    12|     GK|        JONES Brad|     JONES|Feyenoord Rotterd...|   193|  87| 19| 03|1982|     1982-03-19|                 0.0|
|Australia|     9|     FW|        JURIC Tomi|     JURIC|     FC Luzern (SUI)|   190|  80| 22| 07|1991|     1991-07-22|0.045454545454545456|
|Australia|     6|     DF|    JURMAN Matthew|    JURMAN|Suwon Samsung Blu...|   190|  83| 08| 12|1989|     1989-12-08|0.045454545454545456|
|Australia|    23|     MF|         ROGIC Tom|     ROGIC|     Celtic FC (SCO)|   189|  88| 16| 12|1992|     1992-12-16| 0.13636363636363635|
|Australia|    15|     MF|      JEDINAK Mile|   JEDINAK|Aston Villa FC (ENG)|   188|  78| 03| 08|1984|     1984-08-03| 0.18181818181818182|
|Australia|     2|     DF|     DEGENEK Milos|   DEGENEK|Yokohama F-Marino...|   187|  85| 28| 04|1994|     1994-04-28| 0.22727272727272727|
|Australia|    18|     GK|     VUKOVIC Danny|   VUKOVIC|      KRC Genk (BEL)|   187|  94| 27| 03|1985|     1985-03-27| 0.22727272727272727|
|Australia|     1|     GK|       RYAN Mathew|      RYAN|Brighton & Hove A...|   184|  82| 08| 04|1992|     1992-04-08|  0.3181818181818182|
|Australia|    20|     DF|   SAINSBURY Trent| SAINSBURY|Grasshopper Club ...|   183|  76| 05| 01|1992|     1992-01-05| 0.36363636363636365|
|Australia|     7|     FW|     LECKIE Mathew|    LECKIE|    Hertha BSC (GER)|   181|  84| 04| 02|1991|     1991-02-04|  0.4090909090909091|
|Australia|    10|     FW|      KRUSE Robbie|     KRUSE|    VfL Bochum (GER)|   180|  66| 05| 10|1988|     1988-10-05| 0.45454545454545453|
|Australia|     4|     FW|        CAHILL Tim|    CAHILL|   Millwall FC (ENG)|   180|  76| 06| 12|1979|     1979-12-06| 0.45454545454545453|
|Australia|    22|     MF|    IRVINE Jackson|    IRVINE|  Hull City FC (ENG)|   180|  77| 07| 03|1993|     1993-03-07| 0.45454545454545453|
|Australia|     3|     DF|    MEREDITH James|  MEREDITH|   Millwall FC (ENG)|   179|  71| 05| 04|1988|     1988-04-05|  0.5909090909090909|
|Australia|    14|     FW|    MacLAREN Jamie|  MACLAREN|  Hibernian FC (SCO)|   178|  72| 29| 07|1993|     1993-07-29|  0.6363636363636364|
|Australia|     5|     DF|     MILLIGAN Mark|  MILLIGAN|    Al Ahli SC (KSA)|   178|  78| 04| 08|1985|     1985-08-04|  0.6363636363636364|
|Australia|    11|     FW|    NABBOUT Andrew|   NABBOUT|    Urawa Reds (JPN)|   178|  85| 17| 12|1992|     1992-12-17|  0.6363636363636364|
|Australia|    21|     FW|PETRATOS Dimitrios|  PETRATOS|Newcastle United ...|   176|  72| 10| 11|1992|     1992-11-10|  0.7727272727272727|
|Australia|     8|     MF|    LUONGO Massimo|    LUONGO|Queens Park Range...|   176|  76| 25| 09|1992|     1992-09-25|  0.7727272727272727|
|Australia|    13|     MF|        MOOY Aaron|      MOOY|Huddersfield Town...|   173|  72| 15| 09|1990|     1990-09-15|  0.8636363636363636|
|Australia|    17|     FW|     ARZANI Daniel|    ARZANI|Melbourne City FC...|   171|  73| 04| 01|1999|     1999-01-04|  0.9090909090909091|
|Australia|    16|     DF|       BEHICH Aziz|    BEHICH|     Bursaspor (TUR)|   170|  63| 16| 12|1990|     1990-12-16|  0.9545454545454546|
|Australia|    19|     DF|     RISDON Joshua|    RISDON|WS Wanderers FC (...|   169|  70| 27| 07|1992|     1992-07-27|                 1.0|
|  Belgium|     1|     GK|  COURTOIS Thibaut|  COURTOIS|    Chelsea FC (ENG)|   199|  91| 11| 05|1992|     1992-05-11|                 0.0|
|  Belgium|    13|     GK|     CASTEELS Koen|  CASTEELS| VfL Wolfsburg (GER)|   197|  86| 25| 06|1992|     1992-06-25|0.045454545454545456|
|  Belgium|     8|     MF| FELLAINI Marouane|  FELLAINI|Manchester United...|   194|  85| 22| 11|1987|     1987-11-22| 0.09090909090909091|
|  Belgium|    12|     GK|    MIGNOLET Simon|  MIGNOLET|  Liverpool FC (ENG)|   193|  87| 06| 03|1988|     1988-03-06| 0.13636363636363635|
+---------+------+-------+------------------+----------+--------------------+------+----+---+---+----+---------------+--------------------+
only showing top 50 rows

Eindow Function  5- Divisão em "N" partes - ntile()

---
Essa função é boa para agrupar em grupos, no caso abaixo, vamos dividir os grupos por alturas. Como aqi, nós pegamos 5 partes dentro do ntile , a gente vai colher elees quebrados em 5 partes

In [25]:

parte = Window.partitionBy('Selecao').orderBy(desc('Altura'))
df.withColumn('Par',ntile(5).over(parte)).show(50)

+---------+------+-------+------------------+----------+--------------------+------+----+---+---+----+---------------+---+
|  Selecao|Numero|Posicao|         Nome_FIFA|    Camisa|                Time|Altura|Peso|Dia|Mes| Ano|Data_Nascimento|Par|
+---------+------+-------+------------------+----------+--------------------+------+----+---+---+----+---------------+---+
|Argentina|     6|     DF|    FAZIO Federico|     FAZIO|       AS Roma (ITA)|   199|  85| 17| 03|1987|     1987-03-17|  1|
|Argentina|     1|     GK|     GUZMAN Nahuel|    GUZMÁN|   Tigres UANL (MEX)|   192|  90| 10| 02|1986|     1986-02-10|  1|
|Argentina|    16|     DF|       ROJO Marcos|      ROJO|Manchester United...|   189|  82| 20| 03|1990|     1990-03-20|  1|
|Argentina|    12|     GK|     ARMANI Franco|    ARMANI|CA River Plate (ARG)|   189|  85| 16| 10|1986|     1986-10-16|  1|
|Argentina|    23|     GK|CABALLERO Wilfredo| CABALLERO|    Chelsea FC (ENG)|   186|  80| 28| 09|1981|     1981-09-28|  1|
|Argentina|     9|     FW|   HIGUAIN Gonzalo|   HIGUAÍN|   Juventus FC (ITA)|   184|  75| 10| 12|1987|     1987-12-10|  2|
|Argentina|     4|     DF|  ANSALDI Cristian|   ANSALDI|     Torino FC (ITA)|   181|  73| 20| 09|1986|     1986-09-20|  2|
|Argentina|     2|     DF|   MERCADO Gabriel|   MERCADO|    Sevilla FC (ESP)|   181|  81| 18| 03|1987|     1987-03-18|  2|
|Argentina|    17|     DF|  OTAMENDI Nicolas|  OTAMENDI|Manchester City F...|   181|  81| 12| 02|1988|     1988-02-12|  2|
|Argentina|    13|     MF|  MEZA Maximiliano|      MEZA|CA Independiente ...|   180|  76| 15| 12|1992|     1992-12-15|  2|
|Argentina|    11|     MF|    DI MARIA Angel|  DI MARÍA|Paris Saint-Germa...|   178|  75| 14| 02|1988|     1988-02-14|  3|
|Argentina|    21|     FW|      DYBALA Paulo|    DYBALA|   Juventus FC (ITA)|   177|  73| 15| 11|1993|     1993-11-15|  3|
|Argentina|    20|     MF|  LO CELSO Giovani|  LO CELSO|Paris Saint-Germa...|   177|  75| 09| 04|1996|     1996-04-09|  3|
|Argentina|     5|     MF|      BIGLIA Lucas|    BIGLIA|      AC Milan (ITA)|   175|  73| 30| 01|1986|     1986-01-30|  3|
|Argentina|     7|     MF|       BANEGA Ever|    BANEGA|    Sevilla FC (ESP)|   175|  73| 29| 06|1988|     1988-06-29|  3|
|Argentina|    14|     DF| MASCHERANO Javier|MASCHERANO|Hebei China Fortu...|   174|  73| 08| 06|1984|     1984-06-08|  4|
|Argentina|    19|     FW|     AGUERO Sergio|    AGÜERO|Manchester City F...|   172|  74| 02| 06|1988|     1988-06-02|  4|
|Argentina|     8|     DF|      ACUNA Marcos|     ACUÑA|   Sporting CP (POR)|   172|  77| 28| 10|1991|     1991-10-28|  4|
|Argentina|    10|     FW|      MESSI Lionel|     MESSI|  FC Barcelona (ESP)|   170|  72| 24| 06|1987|     1987-06-24|  4|
|Argentina|     3|     DF|TAGLIAFICO Nicolas|TAGLIAFICO|      AFC Ajax (NED)|   169|  65| 31| 08|1992|     1992-08-31|  5|
|Argentina|    22|     MF|    PAVON Cristian|     PAVÓN|CA Boca Juniors (...|   169|  65| 21| 01|1996|     1996-01-21|  5|
|Argentina|    15|     MF|    LANZINI Manuel|   LANZINI|West Ham United F...|   167|  66| 15| 02|1993|     1993-02-15|  5|
|Argentina|    18|     DF|    SALVIO Eduardo|    SALVIO|    SL Benfica (POR)|   167|  69| 13| 07|1990|     1990-07-13|  5|
|Australia|    12|     GK|        JONES Brad|     JONES|Feyenoord Rotterd...|   193|  87| 19| 03|1982|     1982-03-19|  1|
|Australia|     9|     FW|        JURIC Tomi|     JURIC|     FC Luzern (SUI)|   190|  80| 22| 07|1991|     1991-07-22|  1|
|Australia|     6|     DF|    JURMAN Matthew|    JURMAN|Suwon Samsung Blu...|   190|  83| 08| 12|1989|     1989-12-08|  1|
|Australia|    23|     MF|         ROGIC Tom|     ROGIC|     Celtic FC (SCO)|   189|  88| 16| 12|1992|     1992-12-16|  1|
|Australia|    15|     MF|      JEDINAK Mile|   JEDINAK|Aston Villa FC (ENG)|   188|  78| 03| 08|1984|     1984-08-03|  1|
|Australia|     2|     DF|     DEGENEK Milos|   DEGENEK|Yokohama F-Marino...|   187|  85| 28| 04|1994|     1994-04-28|  2|
|Australia|    18|     GK|     VUKOVIC Danny|   VUKOVIC|      KRC Genk (BEL)|   187|  94| 27| 03|1985|     1985-03-27|  2|
|Australia|     1|     GK|       RYAN Mathew|      RYAN|Brighton & Hove A...|   184|  82| 08| 04|1992|     1992-04-08|  2|
|Australia|    20|     DF|   SAINSBURY Trent| SAINSBURY|Grasshopper Club ...|   183|  76| 05| 01|1992|     1992-01-05|  2|
|Australia|     7|     FW|     LECKIE Mathew|    LECKIE|    Hertha BSC (GER)|   181|  84| 04| 02|1991|     1991-02-04|  2|
|Australia|    10|     FW|      KRUSE Robbie|     KRUSE|    VfL Bochum (GER)|   180|  66| 05| 10|1988|     1988-10-05|  3|
|Australia|     4|     FW|        CAHILL Tim|    CAHILL|   Millwall FC (ENG)|   180|  76| 06| 12|1979|     1979-12-06|  3|
|Australia|    22|     MF|    IRVINE Jackson|    IRVINE|  Hull City FC (ENG)|   180|  77| 07| 03|1993|     1993-03-07|  3|
|Australia|     3|     DF|    MEREDITH James|  MEREDITH|   Millwall FC (ENG)|   179|  71| 05| 04|1988|     1988-04-05|  3|
|Australia|    14|     FW|    MacLAREN Jamie|  MACLAREN|  Hibernian FC (SCO)|   178|  72| 29| 07|1993|     1993-07-29|  3|
|Australia|     5|     DF|     MILLIGAN Mark|  MILLIGAN|    Al Ahli SC (KSA)|   178|  78| 04| 08|1985|     1985-08-04|  4|
|Australia|    11|     FW|    NABBOUT Andrew|   NABBOUT|    Urawa Reds (JPN)|   178|  85| 17| 12|1992|     1992-12-17|  4|
|Australia|    21|     FW|PETRATOS Dimitrios|  PETRATOS|Newcastle United ...|   176|  72| 10| 11|1992|     1992-11-10|  4|
|Australia|     8|     MF|    LUONGO Massimo|    LUONGO|Queens Park Range...|   176|  76| 25| 09|1992|     1992-09-25|  4|
|Australia|    13|     MF|        MOOY Aaron|      MOOY|Huddersfield Town...|   173|  72| 15| 09|1990|     1990-09-15|  5|
|Australia|    17|     FW|     ARZANI Daniel|    ARZANI|Melbourne City FC...|   171|  73| 04| 01|1999|     1999-01-04|  5|
|Australia|    16|     DF|       BEHICH Aziz|    BEHICH|     Bursaspor (TUR)|   170|  63| 16| 12|1990|     1990-12-16|  5|
|Australia|    19|     DF|     RISDON Joshua|    RISDON|WS Wanderers FC (...|   169|  70| 27| 07|1992|     1992-07-27|  5|
|  Belgium|     1|     GK|  COURTOIS Thibaut|  COURTOIS|    Chelsea FC (ENG)|   199|  91| 11| 05|1992|     1992-05-11|  1|
|  Belgium|    13|     GK|     CASTEELS Koen|  CASTEELS| VfL Wolfsburg (GER)|   197|  86| 25| 06|1992|     1992-06-25|  1|
|  Belgium|     8|     MF| FELLAINI Marouane|  FELLAINI|Manchester United...|   194|  85| 22| 11|1987|     1987-11-22|  1|
|  Belgium|    12|     GK|    MIGNOLET Simon|  MIGNOLET|  Liverpool FC (ENG)|   193|  87| 06| 03|1988|     1988-03-06|  1|
+---------+------+-------+------------------+----------+--------------------+------+----+---+---+----+---------------+---+
only showing top 50 rows

Window analytic Functions ( Aqui, agora a gente entra em funções analíticas)

Vamos começar com o Window Function Lag/Degrau -lead()

In [26]:
df = df.drop('Nome_FIFA')

In [28]:
DEGRAU = Window.partitionBy('Selecao').orderBy(desc('Altura'))

df.withColumn('degrau', lag('Peso').over(DEGRAU)).show(50)

+---------+------+-------+----------+--------------------+------+----+---+---+----+---------------+------+
|  Selecao|Numero|Posicao|    Camisa|                Time|Altura|Peso|Dia|Mes| Ano|Data_Nascimento|degrau|
+---------+------+-------+----------+--------------------+------+----+---+---+----+---------------+------+
|Argentina|     6|     DF|     FAZIO|       AS Roma (ITA)|   199|  85| 17| 03|1987|     1987-03-17|  NULL|
|Argentina|     1|     GK|    GUZMÁN|   Tigres UANL (MEX)|   192|  90| 10| 02|1986|     1986-02-10|    85|
|Argentina|    16|     DF|      ROJO|Manchester United...|   189|  82| 20| 03|1990|     1990-03-20|    90|
|Argentina|    12|     GK|    ARMANI|CA River Plate (ARG)|   189|  85| 16| 10|1986|     1986-10-16|    82|
|Argentina|    23|     GK| CABALLERO|    Chelsea FC (ENG)|   186|  80| 28| 09|1981|     1981-09-28|    85|
|Argentina|     9|     FW|   HIGUAÍN|   Juventus FC (ITA)|   184|  75| 10| 12|1987|     1987-12-10|    80|
|Argentina|     4|     DF|   ANSALDI|     Torino FC (ITA)|   181|  73| 20| 09|1986|     1986-09-20|    75|
|Argentina|     2|     DF|   MERCADO|    Sevilla FC (ESP)|   181|  81| 18| 03|1987|     1987-03-18|    73|
|Argentina|    17|     DF|  OTAMENDI|Manchester City F...|   181|  81| 12| 02|1988|     1988-02-12|    81|
|Argentina|    13|     MF|      MEZA|CA Independiente ...|   180|  76| 15| 12|1992|     1992-12-15|    81|
|Argentina|    11|     MF|  DI MARÍA|Paris Saint-Germa...|   178|  75| 14| 02|1988|     1988-02-14|    76|
|Argentina|    21|     FW|    DYBALA|   Juventus FC (ITA)|   177|  73| 15| 11|1993|     1993-11-15|    75|
|Argentina|    20|     MF|  LO CELSO|Paris Saint-Germa...|   177|  75| 09| 04|1996|     1996-04-09|    73|
|Argentina|     5|     MF|    BIGLIA|      AC Milan (ITA)|   175|  73| 30| 01|1986|     1986-01-30|    75|
|Argentina|     7|     MF|    BANEGA|    Sevilla FC (ESP)|   175|  73| 29| 06|1988|     1988-06-29|    73|
|Argentina|    14|     DF|MASCHERANO|Hebei China Fortu...|   174|  73| 08| 06|1984|     1984-06-08|    73|
|Argentina|    19|     FW|    AGÜERO|Manchester City F...|   172|  74| 02| 06|1988|     1988-06-02|    73|
|Argentina|     8|     DF|     ACUÑA|   Sporting CP (POR)|   172|  77| 28| 10|1991|     1991-10-28|    74|
|Argentina|    10|     FW|     MESSI|  FC Barcelona (ESP)|   170|  72| 24| 06|1987|     1987-06-24|    77|
|Argentina|     3|     DF|TAGLIAFICO|      AFC Ajax (NED)|   169|  65| 31| 08|1992|     1992-08-31|    72|
|Argentina|    22|     MF|     PAVÓN|CA Boca Juniors (...|   169|  65| 21| 01|1996|     1996-01-21|    65|
|Argentina|    15|     MF|   LANZINI|West Ham United F...|   167|  66| 15| 02|1993|     1993-02-15|    65|
|Argentina|    18|     DF|    SALVIO|    SL Benfica (POR)|   167|  69| 13| 07|1990|     1990-07-13|    66|
|Australia|    12|     GK|     JONES|Feyenoord Rotterd...|   193|  87| 19| 03|1982|     1982-03-19|  NULL|
|Australia|     9|     FW|     JURIC|     FC Luzern (SUI)|   190|  80| 22| 07|1991|     1991-07-22|    87|
|Australia|     6|     DF|    JURMAN|Suwon Samsung Blu...|   190|  83| 08| 12|1989|     1989-12-08|    80|
|Australia|    23|     MF|     ROGIC|     Celtic FC (SCO)|   189|  88| 16| 12|1992|     1992-12-16|    83|
|Australia|    15|     MF|   JEDINAK|Aston Villa FC (ENG)|   188|  78| 03| 08|1984|     1984-08-03|    88|
|Australia|     2|     DF|   DEGENEK|Yokohama F-Marino...|   187|  85| 28| 04|1994|     1994-04-28|    78|
|Australia|    18|     GK|   VUKOVIC|      KRC Genk (BEL)|   187|  94| 27| 03|1985|     1985-03-27|    85|
|Australia|     1|     GK|      RYAN|Brighton & Hove A...|   184|  82| 08| 04|1992|     1992-04-08|    94|
|Australia|    20|     DF| SAINSBURY|Grasshopper Club ...|   183|  76| 05| 01|1992|     1992-01-05|    82|
|Australia|     7|     FW|    LECKIE|    Hertha BSC (GER)|   181|  84| 04| 02|1991|     1991-02-04|    76|
|Australia|    10|     FW|     KRUSE|    VfL Bochum (GER)|   180|  66| 05| 10|1988|     1988-10-05|    84|
|Australia|     4|     FW|    CAHILL|   Millwall FC (ENG)|   180|  76| 06| 12|1979|     1979-12-06|    66|
|Australia|    22|     MF|    IRVINE|  Hull City FC (ENG)|   180|  77| 07| 03|1993|     1993-03-07|    76|
|Australia|     3|     DF|  MEREDITH|   Millwall FC (ENG)|   179|  71| 05| 04|1988|     1988-04-05|    77|
|Australia|    14|     FW|  MACLAREN|  Hibernian FC (SCO)|   178|  72| 29| 07|1993|     1993-07-29|    71|
|Australia|     5|     DF|  MILLIGAN|    Al Ahli SC (KSA)|   178|  78| 04| 08|1985|     1985-08-04|    72|
|Australia|    11|     FW|   NABBOUT|    Urawa Reds (JPN)|   178|  85| 17| 12|1992|     1992-12-17|    78|
|Australia|    21|     FW|  PETRATOS|Newcastle United ...|   176|  72| 10| 11|1992|     1992-11-10|    85|
|Australia|     8|     MF|    LUONGO|Queens Park Range...|   176|  76| 25| 09|1992|     1992-09-25|    72|
|Australia|    13|     MF|      MOOY|Huddersfield Town...|   173|  72| 15| 09|1990|     1990-09-15|    76|
|Australia|    17|     FW|    ARZANI|Melbourne City FC...|   171|  73| 04| 01|1999|     1999-01-04|    72|
|Australia|    16|     DF|    BEHICH|     Bursaspor (TUR)|   170|  63| 16| 12|1990|     1990-12-16|    73|
|Australia|    19|     DF|    RISDON|WS Wanderers FC (...|   169|  70| 27| 07|1992|     1992-07-27|    63|
|  Belgium|     1|     GK|  COURTOIS|    Chelsea FC (ENG)|   199|  91| 11| 05|1992|     1992-05-11|  NULL|
|  Belgium|    13|     GK|  CASTEELS| VfL Wolfsburg (GER)|   197|  86| 25| 06|1992|     1992-06-25|    91|
|  Belgium|     8|     MF|  FELLAINI|Manchester United...|   194|  85| 22| 11|1987|     1987-11-22|    86|
|  Belgium|    12|     GK|  MIGNOLET|  Liverpool FC (ENG)|   193|  87| 06| 03|1988|     1988-03-06|    85|
+---------+------+-------+----------+--------------------+------+----+---+---+----+---------------+------+
only showing top 50 rows

In [29]:
DEGRAU = Window.partitionBy('Selecao').orderBy(desc('Altura'))

df.withColumn('degrau', lag('Altura').over(DEGRAU)).show(50)

+---------+------+-------+----------+--------------------+------+----+---+---+----+---------------+------+
|  Selecao|Numero|Posicao|    Camisa|                Time|Altura|Peso|Dia|Mes| Ano|Data_Nascimento|degrau|
+---------+------+-------+----------+--------------------+------+----+---+---+----+---------------+------+
|Argentina|     6|     DF|     FAZIO|       AS Roma (ITA)|   199|  85| 17| 03|1987|     1987-03-17|  NULL|
|Argentina|     1|     GK|    GUZMÁN|   Tigres UANL (MEX)|   192|  90| 10| 02|1986|     1986-02-10|   199|
|Argentina|    16|     DF|      ROJO|Manchester United...|   189|  82| 20| 03|1990|     1990-03-20|   192|
|Argentina|    12|     GK|    ARMANI|CA River Plate (ARG)|   189|  85| 16| 10|1986|     1986-10-16|   189|
|Argentina|    23|     GK| CABALLERO|    Chelsea FC (ENG)|   186|  80| 28| 09|1981|     1981-09-28|   189|
|Argentina|     9|     FW|   HIGUAÍN|   Juventus FC (ITA)|   184|  75| 10| 12|1987|     1987-12-10|   186|
|Argentina|     4|     DF|   ANSALDI|     Torino FC (ITA)|   181|  73| 20| 09|1986|     1986-09-20|   184|
|Argentina|     2|     DF|   MERCADO|    Sevilla FC (ESP)|   181|  81| 18| 03|1987|     1987-03-18|   181|
|Argentina|    17|     DF|  OTAMENDI|Manchester City F...|   181|  81| 12| 02|1988|     1988-02-12|   181|
|Argentina|    13|     MF|      MEZA|CA Independiente ...|   180|  76| 15| 12|1992|     1992-12-15|   181|
|Argentina|    11|     MF|  DI MARÍA|Paris Saint-Germa...|   178|  75| 14| 02|1988|     1988-02-14|   180|
|Argentina|    21|     FW|    DYBALA|   Juventus FC (ITA)|   177|  73| 15| 11|1993|     1993-11-15|   178|
|Argentina|    20|     MF|  LO CELSO|Paris Saint-Germa...|   177|  75| 09| 04|1996|     1996-04-09|   177|
|Argentina|     5|     MF|    BIGLIA|      AC Milan (ITA)|   175|  73| 30| 01|1986|     1986-01-30|   177|
|Argentina|     7|     MF|    BANEGA|    Sevilla FC (ESP)|   175|  73| 29| 06|1988|     1988-06-29|   175|
|Argentina|    14|     DF|MASCHERANO|Hebei China Fortu...|   174|  73| 08| 06|1984|     1984-06-08|   175|
|Argentina|    19|     FW|    AGÜERO|Manchester City F...|   172|  74| 02| 06|1988|     1988-06-02|   174|
|Argentina|     8|     DF|     ACUÑA|   Sporting CP (POR)|   172|  77| 28| 10|1991|     1991-10-28|   172|
|Argentina|    10|     FW|     MESSI|  FC Barcelona (ESP)|   170|  72| 24| 06|1987|     1987-06-24|   172|
|Argentina|     3|     DF|TAGLIAFICO|      AFC Ajax (NED)|   169|  65| 31| 08|1992|     1992-08-31|   170|
|Argentina|    22|     MF|     PAVÓN|CA Boca Juniors (...|   169|  65| 21| 01|1996|     1996-01-21|   169|
|Argentina|    15|     MF|   LANZINI|West Ham United F...|   167|  66| 15| 02|1993|     1993-02-15|   169|
|Argentina|    18|     DF|    SALVIO|    SL Benfica (POR)|   167|  69| 13| 07|1990|     1990-07-13|   167|
|Australia|    12|     GK|     JONES|Feyenoord Rotterd...|   193|  87| 19| 03|1982|     1982-03-19|  NULL|
|Australia|     9|     FW|     JURIC|     FC Luzern (SUI)|   190|  80| 22| 07|1991|     1991-07-22|   193|
|Australia|     6|     DF|    JURMAN|Suwon Samsung Blu...|   190|  83| 08| 12|1989|     1989-12-08|   190|
|Australia|    23|     MF|     ROGIC|     Celtic FC (SCO)|   189|  88| 16| 12|1992|     1992-12-16|   190|
|Australia|    15|     MF|   JEDINAK|Aston Villa FC (ENG)|   188|  78| 03| 08|1984|     1984-08-03|   189|
|Australia|     2|     DF|   DEGENEK|Yokohama F-Marino...|   187|  85| 28| 04|1994|     1994-04-28|   188|
|Australia|    18|     GK|   VUKOVIC|      KRC Genk (BEL)|   187|  94| 27| 03|1985|     1985-03-27|   187|
|Australia|     1|     GK|      RYAN|Brighton & Hove A...|   184|  82| 08| 04|1992|     1992-04-08|   187|
|Australia|    20|     DF| SAINSBURY|Grasshopper Club ...|   183|  76| 05| 01|1992|     1992-01-05|   184|
|Australia|     7|     FW|    LECKIE|    Hertha BSC (GER)|   181|  84| 04| 02|1991|     1991-02-04|   183|
|Australia|    10|     FW|     KRUSE|    VfL Bochum (GER)|   180|  66| 05| 10|1988|     1988-10-05|   181|
|Australia|     4|     FW|    CAHILL|   Millwall FC (ENG)|   180|  76| 06| 12|1979|     1979-12-06|   180|
|Australia|    22|     MF|    IRVINE|  Hull City FC (ENG)|   180|  77| 07| 03|1993|     1993-03-07|   180|
|Australia|     3|     DF|  MEREDITH|   Millwall FC (ENG)|   179|  71| 05| 04|1988|     1988-04-05|   180|
|Australia|    14|     FW|  MACLAREN|  Hibernian FC (SCO)|   178|  72| 29| 07|1993|     1993-07-29|   179|
|Australia|     5|     DF|  MILLIGAN|    Al Ahli SC (KSA)|   178|  78| 04| 08|1985|     1985-08-04|   178|
|Australia|    11|     FW|   NABBOUT|    Urawa Reds (JPN)|   178|  85| 17| 12|1992|     1992-12-17|   178|
|Australia|    21|     FW|  PETRATOS|Newcastle United ...|   176|  72| 10| 11|1992|     1992-11-10|   178|
|Australia|     8|     MF|    LUONGO|Queens Park Range...|   176|  76| 25| 09|1992|     1992-09-25|   176|
|Australia|    13|     MF|      MOOY|Huddersfield Town...|   173|  72| 15| 09|1990|     1990-09-15|   176|
|Australia|    17|     FW|    ARZANI|Melbourne City FC...|   171|  73| 04| 01|1999|     1999-01-04|   173|
|Australia|    16|     DF|    BEHICH|     Bursaspor (TUR)|   170|  63| 16| 12|1990|     1990-12-16|   171|
|Australia|    19|     DF|    RISDON|WS Wanderers FC (...|   169|  70| 27| 07|1992|     1992-07-27|   170|
|  Belgium|     1|     GK|  COURTOIS|    Chelsea FC (ENG)|   199|  91| 11| 05|1992|     1992-05-11|  NULL|
|  Belgium|    13|     GK|  CASTEELS| VfL Wolfsburg (GER)|   197|  86| 25| 06|1992|     1992-06-25|   199|
|  Belgium|     8|     MF|  FELLAINI|Manchester United...|   194|  85| 22| 11|1987|     1987-11-22|   197|
|  Belgium|    12|     GK|  MIGNOLET|  Liverpool FC (ENG)|   193|  87| 06| 03|1988|     1988-03-06|   194|
+---------+------+-------+----------+--------------------+------+----+---+---+----+---------------+------+
only showing top 50 rows

O lead é exatamente o contrário do LAG

In [33]:
degrau = Window.partitionBy('Selecao').orderBy(desc('Altura'))
df.withColumn('degrau', lead('Altura').over(degrau)).show(50)

+---------+------+-------+----------+--------------------+------+----+---+---+----+---------------+------+
|  Selecao|Numero|Posicao|    Camisa|                Time|Altura|Peso|Dia|Mes| Ano|Data_Nascimento|degrau|
+---------+------+-------+----------+--------------------+------+----+---+---+----+---------------+------+
|Argentina|     6|     DF|     FAZIO|       AS Roma (ITA)|   199|  85| 17| 03|1987|     1987-03-17|   192|
|Argentina|     1|     GK|    GUZMÁN|   Tigres UANL (MEX)|   192|  90| 10| 02|1986|     1986-02-10|   189|
|Argentina|    16|     DF|      ROJO|Manchester United...|   189|  82| 20| 03|1990|     1990-03-20|   189|
|Argentina|    12|     GK|    ARMANI|CA River Plate (ARG)|   189|  85| 16| 10|1986|     1986-10-16|   186|
|Argentina|    23|     GK| CABALLERO|    Chelsea FC (ENG)|   186|  80| 28| 09|1981|     1981-09-28|   184|
|Argentina|     9|     FW|   HIGUAÍN|   Juventus FC (ITA)|   184|  75| 10| 12|1987|     1987-12-10|   181|
|Argentina|     4|     DF|   ANSALDI|     Torino FC (ITA)|   181|  73| 20| 09|1986|     1986-09-20|   181|
|Argentina|     2|     DF|   MERCADO|    Sevilla FC (ESP)|   181|  81| 18| 03|1987|     1987-03-18|   181|
|Argentina|    17|     DF|  OTAMENDI|Manchester City F...|   181|  81| 12| 02|1988|     1988-02-12|   180|
|Argentina|    13|     MF|      MEZA|CA Independiente ...|   180|  76| 15| 12|1992|     1992-12-15|   178|
|Argentina|    11|     MF|  DI MARÍA|Paris Saint-Germa...|   178|  75| 14| 02|1988|     1988-02-14|   177|
|Argentina|    21|     FW|    DYBALA|   Juventus FC (ITA)|   177|  73| 15| 11|1993|     1993-11-15|   177|
|Argentina|    20|     MF|  LO CELSO|Paris Saint-Germa...|   177|  75| 09| 04|1996|     1996-04-09|   175|
|Argentina|     5|     MF|    BIGLIA|      AC Milan (ITA)|   175|  73| 30| 01|1986|     1986-01-30|   175|
|Argentina|     7|     MF|    BANEGA|    Sevilla FC (ESP)|   175|  73| 29| 06|1988|     1988-06-29|   174|
|Argentina|    14|     DF|MASCHERANO|Hebei China Fortu...|   174|  73| 08| 06|1984|     1984-06-08|   172|
|Argentina|    19|     FW|    AGÜERO|Manchester City F...|   172|  74| 02| 06|1988|     1988-06-02|   172|
|Argentina|     8|     DF|     ACUÑA|   Sporting CP (POR)|   172|  77| 28| 10|1991|     1991-10-28|   170|
|Argentina|    10|     FW|     MESSI|  FC Barcelona (ESP)|   170|  72| 24| 06|1987|     1987-06-24|   169|
|Argentina|     3|     DF|TAGLIAFICO|      AFC Ajax (NED)|   169|  65| 31| 08|1992|     1992-08-31|   169|
|Argentina|    22|     MF|     PAVÓN|CA Boca Juniors (...|   169|  65| 21| 01|1996|     1996-01-21|   167|
|Argentina|    15|     MF|   LANZINI|West Ham United F...|   167|  66| 15| 02|1993|     1993-02-15|   167|
|Argentina|    18|     DF|    SALVIO|    SL Benfica (POR)|   167|  69| 13| 07|1990|     1990-07-13|  NULL|
|Australia|    12|     GK|     JONES|Feyenoord Rotterd...|   193|  87| 19| 03|1982|     1982-03-19|   190|
|Australia|     9|     FW|     JURIC|     FC Luzern (SUI)|   190|  80| 22| 07|1991|     1991-07-22|   190|
|Australia|     6|     DF|    JURMAN|Suwon Samsung Blu...|   190|  83| 08| 12|1989|     1989-12-08|   189|
|Australia|    23|     MF|     ROGIC|     Celtic FC (SCO)|   189|  88| 16| 12|1992|     1992-12-16|   188|
|Australia|    15|     MF|   JEDINAK|Aston Villa FC (ENG)|   188|  78| 03| 08|1984|     1984-08-03|   187|
|Australia|     2|     DF|   DEGENEK|Yokohama F-Marino...|   187|  85| 28| 04|1994|     1994-04-28|   187|
|Australia|    18|     GK|   VUKOVIC|      KRC Genk (BEL)|   187|  94| 27| 03|1985|     1985-03-27|   184|
|Australia|     1|     GK|      RYAN|Brighton & Hove A...|   184|  82| 08| 04|1992|     1992-04-08|   183|
|Australia|    20|     DF| SAINSBURY|Grasshopper Club ...|   183|  76| 05| 01|1992|     1992-01-05|   181|
|Australia|     7|     FW|    LECKIE|    Hertha BSC (GER)|   181|  84| 04| 02|1991|     1991-02-04|   180|
|Australia|    10|     FW|     KRUSE|    VfL Bochum (GER)|   180|  66| 05| 10|1988|     1988-10-05|   180|
|Australia|     4|     FW|    CAHILL|   Millwall FC (ENG)|   180|  76| 06| 12|1979|     1979-12-06|   180|
|Australia|    22|     MF|    IRVINE|  Hull City FC (ENG)|   180|  77| 07| 03|1993|     1993-03-07|   179|
|Australia|     3|     DF|  MEREDITH|   Millwall FC (ENG)|   179|  71| 05| 04|1988|     1988-04-05|   178|
|Australia|    14|     FW|  MACLAREN|  Hibernian FC (SCO)|   178|  72| 29| 07|1993|     1993-07-29|   178|
|Australia|     5|     DF|  MILLIGAN|    Al Ahli SC (KSA)|   178|  78| 04| 08|1985|     1985-08-04|   178|
|Australia|    11|     FW|   NABBOUT|    Urawa Reds (JPN)|   178|  85| 17| 12|1992|     1992-12-17|   176|
|Australia|    21|     FW|  PETRATOS|Newcastle United ...|   176|  72| 10| 11|1992|     1992-11-10|   176|
|Australia|     8|     MF|    LUONGO|Queens Park Range...|   176|  76| 25| 09|1992|     1992-09-25|   173|
|Australia|    13|     MF|      MOOY|Huddersfield Town...|   173|  72| 15| 09|1990|     1990-09-15|   171|
|Australia|    17|     FW|    ARZANI|Melbourne City FC...|   171|  73| 04| 01|1999|     1999-01-04|   170|
|Australia|    16|     DF|    BEHICH|     Bursaspor (TUR)|   170|  63| 16| 12|1990|     1990-12-16|   169|
|Australia|    19|     DF|    RISDON|WS Wanderers FC (...|   169|  70| 27| 07|1992|     1992-07-27|  NULL|
|  Belgium|     1|     GK|  COURTOIS|    Chelsea FC (ENG)|   199|  91| 11| 05|1992|     1992-05-11|   197|
|  Belgium|    13|     GK|  CASTEELS| VfL Wolfsburg (GER)|   197|  86| 25| 06|1992|     1992-06-25|   194|
|  Belgium|     8|     MF|  FELLAINI|Manchester United...|   194|  85| 22| 11|1987|     1987-11-22|   193|
|  Belgium|    12|     GK|  MIGNOLET|  Liverpool FC (ENG)|   193|  87| 06| 03|1988|     1988-03-06|   190|
+---------+------+-------+----------+--------------------+------+----+---+---+----+---------------+------+
only showing top 50 rows

AGREGAÇÕES ! O GroupBy é muito parecido com o do Pandas. É bem simples. Você usa o " df.groupBy('*Aqui você insere o nome da coluna que você quer mexer*').agg({'*Nome do iten que vai ser agregado* : *Nome da definição que você quer'})

In [36]:
df.groupBy('Selecao').agg({'Altura':'avg'}).show()

+--------------+------------------+
|       Selecao|       avg(Altura)|
+--------------+------------------+
|        Russia| 184.3913043478261|
|       Senegal|183.65217391304347|
|        Sweden| 185.7391304347826|
|       IR Iran|184.47826086956522|
|       Germany| 185.7826086956522|
|        France|183.30434782608697|
|     Argentina|178.43478260869566|
|       Belgium|185.34782608695653|
|          Peru| 177.6086956521739|
|       Croatia| 185.2608695652174|
|       Nigeria|184.52173913043478|
|Korea Republic| 181.8695652173913|
|         Spain|179.91304347826087|
|       Denmark| 186.6086956521739|
|       Morocco|182.69565217391303|
|        Panama|182.17391304347825|
|       Iceland|185.52173913043478|
|       Uruguay|181.04347826086956|
|        Mexico| 179.7826086956522|
|       Tunisia|183.08695652173913|
+--------------+------------------+
only showing top 20 rows

Como ele me jogou do menor para o maior, eu vou por aqui do maior para o menor

In [40]:
df.groupBy('Selecao').agg({'Altura':'avg'}).orderBy('avg(Altura)', ascending = False).show(50)

+--------------+------------------+
|       Selecao|       avg(Altura)|
+--------------+------------------+
|        Serbia|186.69565217391303|
|       Denmark| 186.6086956521739|
|       Germany| 185.7826086956522|
|        Sweden| 185.7391304347826|
|       Iceland|185.52173913043478|
|       Belgium|185.34782608695653|
|       Croatia| 185.2608695652174|
|       Nigeria|184.52173913043478|
|       IR Iran|184.47826086956522|
|        Russia| 184.3913043478261|
|       Senegal|183.65217391304347|
|        France|183.30434782608697|
|        Poland|183.17391304347825|
|       Tunisia|183.08695652173913|
|   Switzerland|182.91304347826087|
|       England| 182.7391304347826|
|       Morocco|182.69565217391303|
|        Panama|182.17391304347825|
|Korea Republic| 181.8695652173913|
|       Uruguay|181.04347826086956|
|         Egypt|             181.0|
|     Australia| 180.8695652173913|
|        Brazil| 180.7826086956522|
|      Colombia| 180.7826086956522|
|    Costa Rica|180.69565217391303|
|         Spain|179.91304347826087|
|        Mexico| 179.7826086956522|
|      Portugal| 179.7391304347826|
|         Japan| 178.7826086956522|
|     Argentina|178.43478260869566|
|  Saudi Arabia|177.65217391304347|
|          Peru| 177.6086956521739|
+--------------+------------------+

A Segunda forma é um pouco mais fácil:

In [55]:
df.groupBy('Selecao').agg({'Altura': 'max'}).orderBy('max(Altura)', ascending=False).show(50)

+--------------+-----------+
|       Selecao|max(Altura)|
+--------------+-----------+
|       Croatia|        201|
|       Denmark|        200|
|     Argentina|        199|
|       Belgium|        199|
|        Sweden|        198|
|       Iceland|        198|
|        France|        197|
|       Nigeria|        197|
|Korea Republic|        197|
|        Panama|        197|
|        Russia|        196|
|       Senegal|        196|
|       Uruguay|        196|
|       England|        196|
|    Costa Rica|        196|
|       Germany|        195|
|        Brazil|        195|
|        Poland|        195|
|        Serbia|        195|
|       IR Iran|        194|
|         Spain|        194|
|         Egypt|        194|
|      Colombia|        194|
|     Australia|        193|
|       Tunisia|        192|
|  Saudi Arabia|        192|
|   Switzerland|        192|
|      Portugal|        191|
|       Morocco|        190|
|        Mexico|        190|
|          Peru|        189|
|         Japan|        189|
+--------------+-----------+

"Where " - o Where aqui é aquela fusão entre o pandas e o SQL também...

In [50]:
df.where('Selecao = "Brazil"').where('Posicao = "FW"').show()
# O where e o FIlter são muito parecidos
#where((condicao 1 ) & (condicao 2))

+-------+------+-------+---------+--------------------+------+----+---+---+----+---------------+
|Selecao|Numero|Posicao|   Camisa|                Time|Altura|Peso|Dia|Mes| Ano|Data_Nascimento|
+-------+------+-------+---------+--------------------+------+----+---+---+----+---------------+
| Brazil|    21|     FW|   TAISON|FC Shakhtar Donet...|   172|  64| 13| 01|1988|     1988-01-13|
| Brazil|    10|     FW|NEYMAR JR|Paris Saint-Germa...|   175|  68| 05| 02|1992|     1992-02-05|
| Brazil|     7|     FW| D. COSTA|   Juventus FC (ITA)|   182|  70| 14| 09|1990|     1990-09-14|
| Brazil|     9|     FW| G. JESUS|Manchester City F...|   175|  73| 03| 04|1997|     1997-04-03|
| Brazil|    20|     FW|  FIRMINO|  Liverpool FC (ENG)|   181|  76| 02| 10|1991|     1991-10-02|
+-------+------+-------+---------+--------------------+------+----+---+---+----+---------------+

Se a gente quiser saber todas as informações do jogador mais alto, por exemplo, temos aqui a opção de pegar o

In [60]:
top1 = Window.partitionBy('Selecao').orderBy(desc('Altura'))

df.withColumn('Top',rank().over(top1)).where('Top = 1').show(50)

+--------------+------+-------+-------------+--------------------+------+----+---+---+----+---------------+---+
|       Selecao|Numero|Posicao|       Camisa|                Time|Altura|Peso|Dia|Mes| Ano|Data_Nascimento|Top|
+--------------+------+-------+-------------+--------------------+------+----+---+---+----+---------------+---+
|     Argentina|     6|     DF|        FAZIO|       AS Roma (ITA)|   199|  85| 17| 03|1987|     1987-03-17|  1|
|     Australia|    12|     GK|        JONES|Feyenoord Rotterd...|   193|  87| 19| 03|1982|     1982-03-19|  1|
|       Belgium|     1|     GK|     COURTOIS|    Chelsea FC (ENG)|   199|  91| 11| 05|1992|     1992-05-11|  1|
|        Brazil|    16|     GK|       CASSIO|SC Corinthians (BRA)|   195|  92| 06| 06|1987|     1987-06-06|  1|
|      Colombia|    13|     DF|      Y. MINA|  FC Barcelona (ESP)|   194|  95| 23| 09|1994|     1994-09-23|  1|
|    Costa Rica|    19|     DF|    K. WASTON|Vancouver Whiteca...|   196|  87| 01| 01|1988|     1988-01-01|  1|
|       Croatia|    12|     GK|   L. KALINIĆ|      KAA Gent (BEL)|   201|  96| 03| 04|1990|     1990-04-03|  1|
|       Denmark|     3|     DF|  VESTERGAARD|VfL Borussia Mönc...|   200|  98| 03| 08|1992|     1992-08-03|  1|
|         Egypt|     6|     DF|    A. HEGAZY|West Bromwich Alb...|   194|  95| 25| 01|1991|     1991-01-25|  1|
|       England|    13|     GK|      BUTLAND| Stoke City FC (ENG)|   196|  96| 10| 03|1993|     1993-03-10|  1|
|        France|    15|     MF|       NZONZI|    Sevilla FC (ESP)|   197|  87| 15| 12|1988|     1988-12-15|  1|
|       Germany|    15|     DF|         SÜLE|FC Bayern München...|   195|  89| 03| 09|1995|     1995-09-03|  1|
|       IR Iran|     1|     GK|A. BEIRANVAND| Persepolis FC (IRN)|   194|  85| 21| 09|1992|     1992-09-21|  1|
|       Iceland|    12|     GK|       SCHRAM|   Roskilde BK (DEN)|   198|  92| 19| 01|1995|     1995-01-19|  1|
|         Japan|    22|     DF|      YOSHIDA|Southampton FC (ENG)|   189|  78| 24| 08|1988|     1988-08-24|  1|
|Korea Republic|     9|     FW|      S W KIM|Jeonbuk Hyundai (...|   197|  97| 14| 04|1988|     1988-04-14|  1|
|        Mexico|     5|     DF|     D. REYES|      FC Porto (POR)|   190|  77| 19| 09|1992|     1992-09-19|  1|
|       Morocco|     6|     DF|        SAISS|Wolverhampton Wan...|   190|  76| 26| 03|1990|     1990-03-26|  1|
|       Morocco|     1|     GK|       BOUNOU|     Girona FC (ESP)|   190|  77| 05| 04|1991|     1991-04-05|  1|
|       Morocco|    13|     FW|      BOUTAIB|Yeni Malatyaspor ...|   190|  80| 24| 04|1987|     1987-04-24|  1|
|       Morocco|    12|     GK|    EL KAJOUI|   CD Numancia (ESP)|   190|  88| 10| 05|1989|     1989-05-10|  1|
|       Nigeria|    13|     FW|      NWANKWO|    FC Crotone (ITA)|   197|  89| 07| 05|1992|     1992-05-07|  1|
|        Panama|    22|     GK|    RODRIGUEZ|San Francisco FC ...|   197|  83| 05| 08|1990|     1990-08-05|  1|
|          Peru|     1|     GK|      GALLESE|CD Tiburones Rojo...|   189|  79| 23| 02|1990|     1990-02-23|  1|
|        Poland|     1|     GK|     SZCZESNY|   Juventus FC (ITA)|   195|  84| 18| 04|1990|     1990-04-18|  1|
|      Portugal|     6|     DF|        FONTE|Dalian Yifang FC ...|   191|  84| 22| 12|1983|     1983-12-22|  1|
|        Russia|    22|     FW|       DZYUBA|FC Arsenal Tula (...|   196|  90| 22| 08|1988|     1988-08-22|  1|
|  Saudi Arabia|    12|     MF|        KANNO|  Al Hilal SFC (KSA)|   192|  73| 22| 09|1994|     1994-09-22|  1|
|       Senegal|    23|     GK|        GOMIS|  SPAL Ferrara (ITA)|   196|  80| 05| 09|1993|     1993-09-05|  1|
|       Senegal|     6|     MF|      S. SANE|   Hannover 96 (GER)|   196|  84| 25| 08|1990|     1990-08-25|  1|
|        Serbia|    15|     DF|   MILENKOVIĆ|ACF Fiorentina (ITA)|   195|  90| 12| 10|1997|     1997-10-12|  1|
|        Serbia|     1|     GK|    STOJKOVIĆ|   FK Partizan (SRB)|   195|  92| 28| 07|1983|     1983-07-28|  1|
|         Spain|     3|     DF|        PIQUÉ|  FC Barcelona (ESP)|   194|  85| 02| 02|1987|     1987-02-02|  1|
|        Sweden|     1|     GK|        OLSEN|  FC Kobenhavn (DEN)|   198|  89| 08| 01|1990|     1990-01-08|  1|
|   Switzerland|    20|     DF|      DJOUROU|Antalyaspor AS (TUR)|   192|  90| 18| 01|1987|     1987-01-18|  1|
|       Tunisia|     1|     GK| BEN MUSTAPHA|  Al Shabab FC (KSA)|   192|  85| 01| 07|1989|     1989-07-01|  1|
|       Uruguay|    19|     DF|       COATES|   Sporting CP (POR)|   196|  89| 07| 10|1990|     1990-10-07|  1|
+--------------+------+-------+-------------+--------------------+------+----+---+---+----+---------------+---+

Describe - Função para descrever todas as informações da tabela

In [61]:
df.describe().show()

+-------+---------+-----------------+-------+---------+--------------------+-----------------+-----------------+------------------+------------------+------------------+
|summary|  Selecao|           Numero|Posicao|   Camisa|                Time|           Altura|             Peso|               Dia|               Mes|               Ano|
+-------+---------+-----------------+-------+---------+--------------------+-----------------+-----------------+------------------+------------------+------------------+
|  count|      736|              736|    736|      736|                 736|              736|              736|               736|               736|               736|
|   mean|     NULL|             12.0|   NULL|     NULL|                NULL|182.4076086956522|77.18885869565217|15.793478260869565|5.8790760869565215| 1990.110054347826|
| stddev|     NULL|6.637760461599851|   NULL|     NULL|                NULL|6.930924233929302|7.233778346883639| 8.761123828732469|3.3782493094684387|3.9074472063626775|
|    min|Argentina|                1|     DF|A. ASHRAF|    1. FC Köln (GER)|              165|               59|                01|                01|              1973|
|    max|  Uruguay|               23|     MF| ŽIVKOVIĆ|Étoile du Sahel (...|              201|               99|                31|                12|              1999|
+-------+---------+-----------------+-------+---------+--------------------+-----------------+-----------------+------------------+------------------+------------------+

In [64]:
df.where('Selecao = "Brazil"').describe().show(5)

+-------+-------+-----------------+-------+---------+--------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|Selecao|           Numero|Posicao|   Camisa|                Time|           Altura|             Peso|              Dia|              Mes|              Ano|
+-------+-------+-----------------+-------+---------+--------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|     23|               23|     23|       23|                  23|               23|               23|               23|               23|               23|
|   mean|   NULL|             12.0|   NULL|     NULL|                NULL|180.7826086956522|76.56521739130434|11.26086956521739|6.130434782608695|1989.391304347826|
| stddev|   NULL|6.782329983125267|   NULL|     NULL|                NULL|7.354383490255254|8.239737898283606|6.876953549252538|2.784769418006175|3.499858833968506|
|    min| Brazil|                1|     DF|A. BECKER|       AS Roma (ITA)|              168|               64|               02|               01|             1984|
|    max| Brazil|               23|     MF|  WILLIAN|SC Corinthians (BRA)|              195|               92|               25|               10|             1997|
+-------+-------+-----------------+-------+---------+--------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

Função de agregação usando o Window Function

In [82]:
parametro = Window.partitionBy('Selecao').orderBy(desc('Altura'))
parametro2 = Window.partitionBy('Selecao')

dfmedias = df.withColumn('linhanova', row_number().over(parametro))\
.withColumn('media', avg('Altura').over(parametro2))\
.withColumn('maximo', max('Altura').over(parametro2))\
.withColumn('minimo', min('Altura').over(parametro2))\
.filter(col('linhanova') == "1")\
.select('Selecao','media','maximo','minimo')\
.orderBy('media', ascending = False)

In [83]:
dfmedias.show(50)

+--------------+------------------+------+------+
|       Selecao|             media|maximo|minimo|
+--------------+------------------+------+------+
|        Serbia|186.69565217391303|   195|   169|
|       Denmark| 186.6086956521739|   200|   171|
|       Germany| 185.7826086956522|   195|   176|
|        Sweden| 185.7391304347826|   198|   177|
|       Iceland|185.52173913043478|   198|   170|
|       Belgium|185.34782608695653|   199|   169|
|       Croatia| 185.2608695652174|   201|   172|
|       Nigeria|184.52173913043478|   197|   172|
|       IR Iran|184.47826086956522|   194|   177|
|        Russia| 184.3913043478261|   196|   173|
|       Senegal|183.65217391304347|   196|   173|
|        France|183.30434782608697|   197|   168|
|        Poland|183.17391304347825|   195|   172|
|       Tunisia|183.08695652173913|   192|   170|
|   Switzerland|182.91304347826087|   192|   165|
|       England| 182.7391304347826|   196|   170|
|       Morocco|182.69565217391303|   190|   167|
|        Panama|182.17391304347825|   197|   165|
|Korea Republic| 181.8695652173913|   197|   170|
|       Uruguay|181.04347826086956|   196|   168|
|         Egypt|             181.0|   194|   169|
|     Australia| 180.8695652173913|   193|   169|
|        Brazil| 180.7826086956522|   195|   168|
|      Colombia| 180.7826086956522|   194|   169|
|    Costa Rica|180.69565217391303|   196|   172|
|         Spain|179.91304347826087|   194|   170|
|        Mexico| 179.7826086956522|   190|   166|
|      Portugal| 179.7391304347826|   191|   168|
|         Japan| 178.7826086956522|   189|   168|
|     Argentina|178.43478260869566|   199|   167|
|  Saudi Arabia|177.65217391304347|   192|   165|
|          Peru| 177.6086956521739|   189|   169|
+--------------+------------------+------+------+